proxmox_host  = "yourdomain.com"
proxmox_endpoint = "https://yourdomain.com"
#Format for api-token is: <username>@<realm>!<TokenName>=<TokenValue>
proxmox_api_token = terra@pam!terraToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
# Generate with `mkpasswd --method=SHA-512 -R 500000`
# To check the hash is correct, locate the hash between the third and fourth $ and run:
# mkpasswd --method=SHA-512 -R 500000 --salt <SALT_FROM_HASH>
dev_vm_password = "$6$rounds=500000$salt$hashedpasswordhere"
dev_vm_username = "yourusername"
public_key_path = "/home/username/.ssh/id_ed25519.pub"
tailscale_auth_key = "tskey-auth-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
node_name = "your-node-name"

#--- DNS network config
dns_ipv4_address = "192.168.1.200/24"
dns_ipv4_gateway = "192.168.1.1"
dns_ipv6_address = "fdc0:a123:b123::200/64"
dns_ipv6_gateway = "fdc0:a123:b123::1"

#--- Dev VM network config
dev_vm_ipv4_address = "192.168.1.50/24"
dev_vm_ipv4_gateway = "192.168.1.1"
dev_vm_ipv6_address = "fdc0:a123:b123::100:50/64"
dev_vm_ipv6_gateway = "fdc0:a123:b123::1"