proxmox_host  = "yourdomain.com"
proxmox_endpoint = "https://yourdomain.com"
#Format for api-token is: <username>@<realm>!<TokenName>=<TokenValue>
proxmox_api_token = terra@pam!terraToken=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
# Generate with `mkpasswd --method=SHA-512 -R 500000`
# To check the hash is correct, locate the hash between the third and fourth $ and run:
# mkpasswd --method=SHA-512 -R 500000 --salt <SALT_FROM_HASH>
# Current password: Proton_gold2026
dev_vm_password = "$6$rounds=500000$salt$hashedpasswordhere"
dev_vm_username = "yourusername"
public_key_path = "/home/username/.ssh/id_ed25519.pub"