---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cups-credentials
  namespace: default
spec:
  encryptedData:
    CUPSADMIN: ${CUPSADMIN_ENCRYPTED}
    CUPSPASSWORD: ${CUPSPASSWORD_ENCRYPTED}
  template:
    metadata:
      name: cups-credentials
      namespace: default
