---
- name: Create registry on k3s controller
  hosts: 127.0.0.1
  gather_facts: no
  connection: local

  tasks:
    - name: Create registry deployment manifest
      ansible.builtin.shell: |
        helm repo add twuni https://twuni.github.io/docker-registry.helm && \
        helm repo update && \
        helm upgrade --install docker-registry twuni/docker-registry \
            --namespace registry \
            --create-namespace \
            --set persistence.enabled=true \
            --set persistence.size=${allocated_registry_storage}Gi \
            --set persistence.storageClass=nfs-retain \
            --set service.type=NodePort \
            --set service.nodePort=${registry_node_port}

