#cloud-config
hostname: k3s-gpu-worker
timezone: America/Sao_Paulo
users:
  - name: ${username}
    uid: ${user_uid}
    passwd: ${vm_password}
    groups:
      - sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_authorized_key}
    lock_passwd: false
apt:
  preserve_sources_list: true
  sources:
    nvidia.list:
      source: deb https://nvidia.github.io/libnvidia-container/stable/deb/$(ARCH) /
      keyid: 2041629BF5352FAC178A9B1F6ED91CA3AC1160CD
      # If key expires and needs to be updated, update the keyid above with:
      # curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --show-keys --fingerprint --with-colons | awk -F: '/^fpr:/ { print $10 }'
mounts:
  - [ "${nfs_server_ip}:omv-storage", "/mnt/nfs-storage", "nfs", "defaults,nofail", "0", "0" ]
package_update: true
ssh_pwauth: false
packages:
  - curl
  - nfs-common
  - nfs-utils
  - qemu-guest-agent
  - sudo
  - gpg
  - ubuntu-drivers-common
  - nvidia-container-toolkit
  - nvidia-container-toolkit-base
  - nvidia-container-tools
  - nvidia-container1
  - nvidia-container-runtime 
  - cuda-drivers-fabricmanager-590 
  - nvidia-headless-590-server
  - nvidia-driver-590-server
  - nvidia-utils-590-server
runcmd:
  - systemctl enable qemu-guest-agent
  - systemctl start qemu-guest-agent
  # Install Nvidia Container Toolkit
  - nvidia-ctk runtime configure --runtime=containerd
  - systemctl restart k3s-agent
  - chown ${username}:${username} /home/${username}
  - curl -sfL https://get.k3s.io | K3S_URL=${k3s_url} K3S_TOKEN=${k3s_token} sh -
  - echo "done" > /tmp/cloud-config.done

