#cloud-config
hostname: k3s-controller
timezone: America/Sao_Paulo
users:
  - name: ${username}
    uid: ${user_uid}
    passwd: ${vm_password}
    groups:
      - sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ${ssh_authorized_key}
    lock_passwd: false

  - name: k3s-storage
    uid: 200
    shell: /usr/sbin/nologin
    lock_passwd: true

groups:
  - k3s-storage : [k3s-storage]

apt:
  preserve_sources_list: true
  sources:
    helm.list:
      source: deb https://packages.buildkite.com/helm-linux/helm-debian/any/ any main
      keyid: AECF01AC58ECB0517F4445544B196BE9C4313D06
      # If key expires and needs to be updated, update the keyid above with:
      # curl -fsSL https://packages.buildkite.com/helm-linux/helm-debian/gpgkey | gpg --show-keys --fingerprint --with-colons | awk -F: '/^fpr:/ { print $10 }'

mounts:
  - [ "${nfs_server_ip}:/mnt/ExternalHardDisk/nfs-shares/k3s-cluster", "/mnt/nfs-storage", "nfs", "defaults,nofail", "0", "0" ]
package_update: true
ssh_pwauth: false
packages:
  - curl
  - nfs-common
  - qemu-guest-agent
  - sudo
  - helm
runcmd:
  - systemctl enable qemu-guest-agent
  - systemctl start qemu-guest-agent
  - echo "done" > /tmp/cloud-config.done

