---
- name: Ensure NFS share is mounted on k3s controller
  hosts: k3s_controller
  become: yes

  tasks:
    - name: Remount /mnt/nfs-storage
      ansible.posix.mount:
        path: /mnt/nfs-storage
        state: unmounted
        state: mounted
        src: "${nfs_server_ip}:/omv-storage"
        fstype: nfs
        opts: defaults,nofail,comment=cloudconfig

- name: Configure helm on k3s controller
  hosts: k3s_controller
  become: yes
  tasks:
  - name: create directory
    file: path="/home/${username}/.kube" state=directory owner=${username} group=${username} mode=0700
  - name: copy kube config file
    ansible.builtin.copy:
      remote_src: yes
      src: "/etc/rancher/k3s/k3s.yaml"
      dest: "/home/${username}/.kube/config"
      owner: ${username}
      group: ${username}
      mode: 0600
