---
- name: Ensure NFS share is mounted on k3s controller
  hosts: k3s_controller
  become: yes

  tasks:
    - name: Remount /mnt/nfs-storage
      ansible.posix.mount:
        path: /mnt/nfs-storage
        state: unmounted
        state: mounted
        src: "${nfs_server_ip}:/mnt/ExternalHardDisk/nfs-shares/k3s-cluster"
        fstype: nfs
        opts: defaults,nofail,comment=cloudconfig

    - name: Test if NFS share is mounted
      ansible.builtin.command: mountpoint -q /mnt/nfs-storage
      register: nfs_mount_check
      failed_when: nfs_mount_check.rc != 0
      changed_when: false

    - name: Test that we can create folders on the NFS share
      ansible.builtin.file:
        path: /mnt/nfs-storage/testfolder
        state: directory
        mode: 0755
      register: nfs_folder_check

    - name: Test if we can write to the folder in NFS share
      ansible.builtin.command: touch /mnt/nfs-storage/testfolder/testfile
      register: nfs_write_check
      failed_when: nfs_write_check.rc != 0
      changed_when: false

    - name: Remove test file from NFS share
      ansible.builtin.file:
        path: /mnt/nfs-storage/testfolder/testfile
        state: absent

    - name: Remove test folder from NFS share
      ansible.builtin.file:
        path: /mnt/nfs-storage/testfolder
        state: absent

- name: Install k3s on controller
  hosts: k3s_controller
  become: yes

  tasks:
    - name: Install k3s server
      shell: |
        export K3S_TOKEN=${k3s_token}
        curl -sfL https://get.k3s.io | sh -
      register: install_k3s
      failed_when: install_k3s.rc != 0 and "already installed" not in install_k3s.stderr
      changed_when: install_k3s.rc == 0

- name: Configure helm on k3s controller
  hosts: k3s_controller
  become: yes
  tasks:
  - name: create directory
    file: path="/home/${username}/.kube" state=directory owner=${username} group=${username} mode=0700
  - name: copy kube config file
    ansible.builtin.copy:
      remote_src: yes
      src: "/etc/rancher/k3s/k3s.yaml"
      dest: "/home/${username}/.kube/config"
      owner: ${username}
      group: ${username}
      mode: 0600

- name: Install NFS CSI driver
  hosts: k3s_controller
  become: yes

  tasks:
    - name: Create custom-values.yaml for NFS CSI driver
      ansible.builtin.copy:
        dest: /home/${username}/custom-values.yaml
        content: |
          storageClasses:
            - name: nfs-retain
              parameters:
                server: ${nfs_server_ip}
                share: /mnt/ExternalHardDisk/nfs-shares/k3s-cluster
              reclaimPolicy: Retain
              volumeBindingMode: Immediate
              mountOptions:
                - nfsvers=4.2
            - name: nfs-local-lvm
              parameters:
                server: ${nfs_omv}
                share: /exports/local-lvm
              reclaimPolicy: Retain
              volumeBindingMode: Immediate
              mountOptions:
                - nfsvers=4

    - name: Install NFS CSI driver using Helm
      shell: |
        export KUBECONFIG=/home/${username}/.kube/config
        helm repo add csi-driver-nfs https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
        helm repo update
        helm upgrade --install csi-driver-nfs csi-driver-nfs/csi-driver-nfs --namespace kube-system \
          --version 4.12.0 -f custom-values.yaml
      register: nfs_csi_install
      failed_when: 
        - nfs_csi_install.rc != 0
        - "'already exists' not in nfs_csi_install.stderr"

    - name: Remove custom-values.yaml
      ansible.builtin.file:
        path: /home/${username}/custom-values.yaml
        state: absent
